.layout {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: white;

    .logo {
        background-color: white;
    }

    :deep {
        .ant-menu-light {
            background-color: transparent;
            height: 100%;
        }
        .ant-menu-item-selected {
            background-color: rgba(28, 130, 23, 0.68);
            color: white;
        }
    }

    /* Add other styling as needed */
}

.sidelogo-container {
    margin-block: 0;

    img {
        height: 100px;
    }
}
.page-container {
    padding: 1em;
    height: 90vh;
    overflow-y: auto;
}

.main-content {
    overflow-y: auto;
    flex: 1;
    font-family: avenir-book;
    background-color: rgb(250, 254, 252);

    /* Add other styling as needed */
}
